
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Left Navigation
$image-icon-height: 25px;
$image-icon-width: 25px;
$border-rgba-grey: 1px solid rgba(209, 209, 209, 0.58);

//Colors
$link-color: black;
$link-color-focus: blue;
$aqua-blue: #0087ca;

//Global
$animation-underline-transition: transform 0.25s ease-out;
$animation-transformation-origin: bottom left;